{% extends "layout.html" %}
{% block body %}
<h2 class="mt-5 text-warning">EXPLORE OTHER BOOKS</h2>
<div class="card-deck mt-5 mb-3 text-center">

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal float-left">Deneme</h4>
            <small class="float-right m-1">kaan</small>
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum non earum cupiditate quibusdam maxime
                laboriosam facere vel autem. Explicabo autem enim blanditiis sed eveniet vel reiciendis, ipsum cumque
                praesentium alias error excepturi ullam asperiores maxime sequi architecto. Minima quisquam, laborum id
                ducimus unde culpa, ipsam mollitia error, tempora rerum harum.</p>
            <button type="button" class="btn btn-lg btn-outline-danger">Read</button>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal float-left">Deneme</h4>
            <small class="float-right m-1">kaan</small>
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum non earum cupiditate quibusdam maxime
                laboriosam facere vel autem. Explicabo autem enim blanditiis sed eveniet vel reiciendis, ipsum cumque
                praesentium alias error excepturi ullam asperiores maxime sequi architecto. Minima quisquam, laborum id
                ducimus unde culpa, ipsam mollitia error, tempora rerum harum.</p>
            <button type="button" class="btn btn-lg btn-outline-danger">Read</button>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal float-left">Deneme</h4>
            <small class="float-right m-1">kaan</small>
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum non earum cupiditate quibusdam maxime
                laboriosam facere vel autem. Explicabo autem enim blanditiis sed eveniet vel reiciendis, ipsum cumque
                praesentium alias error excepturi ullam asperiores maxime sequi architecto. Minima quisquam, laborum id
                ducimus unde culpa, ipsam mollitia error, tempora rerum harum.</p>
            <button type="button" class="btn btn-lg btn-outline-danger">Read</button>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal float-left">Deneme</h4>
            <small class="float-right m-1">kaan</small>
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum non earum cupiditate quibusdam maxime
                laboriosam facere vel autem. Explicabo autem enim blanditiis sed eveniet vel reiciendis, ipsum cumque
                praesentium alias error excepturi ullam asperiores maxime sequi architecto. Minima quisquam, laborum id
                ducimus unde culpa, ipsam mollitia error, tempora rerum harum.</p>
            <button type="button" class="btn btn-lg btn-outline-danger">Read</button>
        </div>
    </div>


</div>

{% endblock  %}