{% extends "layout.html" %}
{% block body %}
<div class="body">
    <main class="text-center">
        <h1 class="cover-heading">Create your library.</h1>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut sed quo aliquid, magni
            recusandae id accusamus excepturi consequatur odit numquam!</p>
        <p class="lead">
            <a href="/books" class="btn btn-lg btn-secondary rounded-pill">Explore</a>
        </p>
    </main>
</div>



{% endblock body %}