{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="body">
    {% if  books %}
    <div class="card-deck mt-5 mb-3 text-center">
        {% for book in books %}
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal float-left">{{book.name}}</h4>
                <small class="float-right m-1">{{book.author}}</small>
            </div>
            <div class="card-body">
                <p>{{book.detail}}</p>
                <button type="button" class="btn btn-lg btn-outline-danger">Read</button>
            </div>
            <div class="card-footer">
                <small class="float-left">{{book.upload_date}}</small>
                <small class="float-right">ISBN - 123432 </small>
            </div>
        </div>


        {% endfor %}
    </div>

    {% endif %}
</div>
{% endblock body %}